@page "{category}/{id}"
@model KorpArhivs.Pages.EditEventModel
@{
    ViewData["Title"] = "Rediģēt notikumu";
}
<div class="">
    <div class="mt-4 pb-1">
        <h2>Labot notikumu:</h2>
    </div>
    <div class="ps-3 pe-3">
        <form method="post" enctype="multipart/form-data">
            <div class="row row-grid align-items-start mb-5 mb-lg-7">
                <div class="col-5 col-lg-5 mt-3 mb-2 me-3">
                    <div class="mt-2 mb-3">
                        <label asp-for="Update.EventName" class="form-label"></label>
                        <input asp-for="Update.EventName" type="text" class="form-control mb-2" placeholder="notikuma nosaukums" aria-label="EventName">
                    </div>
                    <div class="mt-2 mb-3">
                        <label asp-for="Update.EventDate" class="form-label"></label>
                        <input asp-for="Update.EventDate" type="date" class="form-control mb-2" placeholder="piemēram: 22.03.2000" aria-label="EventDate">
                    </div>
                </div>

                <div class="col-5 col-lg-5 ml-lg-auto mt-3 mb-2">
                    <div class="col-12 mt-2 mb-3">
                        <label asp-for="Update.EventSubcategory" class="form-label"></label>
                        <input asp-for="Update.EventSubcategory" type="text" class="form-control mb-2" placeholder="apakškategorija" aria-label="EventSubcategory">
                    </div>
                    <div class="mt-2 mb-3">
                        <label asp-for="Update.Keyword" class="form-label"></label>
                        <input asp-for="Update.Keyword" type="text" class="form-control mb-2" placeholder="" aria-label="Keyword">
                    </div>
                </div>
                <div class="mt-2 mb-3">
                    <label asp-for="Update.EventDescription" class="form-label"></label>
                    <textarea asp-for="Update.EventDescription" class="form-control mb-2" placeholder="apraksts" rows="8" aria-label="EventDescription"></textarea>
                </div>
                <div class="container">
                    @if (Model.Category == "Bildes")
                    {
                        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4">
                            @for (var i=0; i < Model.UploadedFiles.Count; i++)
                            {
                                <div class="col mt-3">
                                    <input class="" type="hidden" asp-for="@Model.UploadedFiles[i].Uri">
                                    <div class="d-flex flex-column align-items-center">
                                        <img src="@Model.UploadedFiles[i].Uri" class="img-fluid pb-2" alt="image">
                                        <div>
                                            <input class="form-check-input" asp-for="@Model.UploadedFiles[i].IsMarkedForDeletion">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Atzīmēt dzēšanai
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="border-top">
                            @foreach (var uploadedUri in Model.UploadedFiles)
                            {
                                <div class="col mt-3">
                                    <i class="fas fa-file me-2"></i>
                                    <a href="@uploadedUri" class="link-dark" download>@uploadedUri.Uri.Split('/').Last()</a>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="col-12 mt-2 mb-3">
                    <label asp-for="Update.Upload" class="form-label"></label>
                    <div class="mb-3">
                        @* <label for="formFileMultiple" class="form-label">Multiple files input example</label>*@
                        <input asp-for="Update.Upload" class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a asp-page="/Index" class="btn btn-outline-primary btn-md d-none d-md-inline mr-md-3">Atcelt</a>
                    <button type="submit" class="btn btn-secondary d-none d-md-inline">Saglabāt</button>
                </div>
            </div>
        </form>
    </div>
</div>