@page "{category}/{id}"
@model KorpArhivs.Pages.UploadedEventModel
@{
}

<div class="p-3">
    <div class="row row-grid mt-3">
        <div class="col-10">
            <h3>@Model.EventName</h3>
        </div>
        <div class="col-1 justify-content-end pb-2">
            <h4>@Model.EventDate.ToLocalTime()</h4>
        </div>
    </div>
    <div class="pb-3">
        @foreach (var keyword in Model.Keywords)
        {
            <span class="badge rounded-pill bg-light text-dark">@keyword</span>
        }

    </div>
    <div class="pb-3 pt-3">
        <p>@Model.EventDescription</p>
    </div>
    <div class="pb-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                @foreach (var uploadedUri in Model.UploadedFiles)
                {
                    <div class="col mt-3">
                        <img src="@uploadedUri" class="img-fluid" alt="image">
                    </div>
                }
            </div>
        </div>
    </div>
</div>