@page
@model KorpArhivs.Pages.UsersModel
@{
}

<div class="mt-4">
    <div class="pb-1">
        <h2>Lietotāji:</h2>
    </div>

    <form method="Post">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vārds</th>
                    <th scope="col">Uzvārds</th>
                    <th scope="col">Epasts</th>
                    <th scope="col">Talrunis</th>
                    <th scope="col">Lietotāju lomas</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Users.Count; i++)
                {
                    <input class="" type="hidden" asp-for="@Model.Users[i].Id">
                    <tr>
                        <th scope="row" class="align-middle">1</th>
                        <td class="align-middle">@Model.Users[i].Name</td>
                        <td class="align-middle">@Model.Users[i].Surname</td>
                        <td class="align-middle">@Model.Users[i].Email</td>
                        <td class="align-middle">@Model.Users[i].PhoneNumber</td>
                        <td>
                            <select asp-for="@Model.Users[i].Role" asp-items="@Model.Roles" class="form-select form-select-sm" aria-label=".form-select-sm example"></select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end mb-3">
            <a asp-page="/Index" class="btn btn-outline-primary btn-md d-none d-md-inline mr-md-3">Atpakaļ</a>
            <button type="submit" class="btn btn-secondary d-none d-md-inline">Saglabāt</button>
        </div>
    </form>
</div>